@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;

}


html,
body {
  width: 100%;
  height: auto;
  /* position: fixed; */
  margin: 0px;
  padding: 0px;
  background: #111;
  overflow-x: hidden;
 
}

#nav-menu {
  display: flex;
  position: sticky;
  top: 20px;
  height: 60px;
  width: 98%;
  border-radius: 20px;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 orangered, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 10
}

#nav-menu .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  font-family: 'Rubik Dirt', cursive;
}

#nav-menu ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

#nav-menu ul li {
  margin: 0 2px;
}

#nav-menu ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;

}

#nav-menu ul li a::before,
#nav-menu ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: orangered;
  transform: scaleX(0);
  transition: transform .25s;
}

#nav-menu ul li a::before {
  top: 5px;
  transform-origin: left;
}

#nav-menu ul li a::after {
  bottom: 5px;
  transform-origin: right;
}

#nav-menu ul li a:hover::before,
#nav-menu ul li a:hover::after {
  transform: scaleX(1)
}

#nav-menu .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

/*========= Home sesion =============*/
#home {
  height: auto;
  width: 100%;
  border-radius: 10px;
  margin-top: 25px;
  display: flex;
   background: linear-gradient(to top right,rgb(225, 22, 22),black,black);
   /* background: linear-gradient(to top ,rgb(225, 22, 22),black,black); */
}

#home div {
  font-size: 40px;
  font-weight: 700;
}

#skills {
  padding: 30px 8%;
}

.left {
  width: 40%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.right {
  width: 55%;
  height: 500px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding-top: 50px;

}

.right p {
  font-size: 20px;
  font-weight: lighter;
}

.right>h3>span {
  color: orangered;
}

.up-down-animation {
  width: 100%;
  height: 95%;
  animation: up-down 3s ease-in-out infinite;
  margin: auto;
  border-radius: 20px;
 
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}



.up-down-animation img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#resume-button-2 {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: lighter;
  display: inline-block;
  background-color: orangered;
  color: #FFF;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

#resume-link-2 {
  text-decoration: none;
  color: #FFF;
  letter-spacing: 1px;
}

.home-btn {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: lighter;
  text-decoration: none;
  display: inline-block;
  background-color: orangered;
  color: #FFF;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.a {
  text-decoration: none;
  color: #FFF;
}

.fa-download {
  transition: all 0.5s ease;
}

#resume-button-2:hover .fa-download,
#resume-button-1:hover .fa-download {
  transform: rotate(360deg);
}

/* Gradient animation for the button */

.k-animation {
  color: white;
  animation: k-color-change 5s ease-in-out infinite;
}

@keyframes k-color-change {
  0% {
    color: white;
  }

  50% {
    color: orangered;
  }

  100% {
    color: white;
  }
}

.icon {
  letter-spacing: 15px;
  /* border:2px solid green; */

}

#resume-button-1 {
  background: orangered;
  color: #fff;
  border: none;
  border-radius: 5px;
}


/*============ About session ===============*/
#about {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #FFF;
  text-align: center;
  border-radius: 10px;
  background: linear-gradient(to top ,rgb(225, 22, 22),black ,black);
}
#about .main-title {
  max-width: 700px;
  margin: 0px auto;
  text-align: center;
  font-family: helvetica;
}
#about .main-title h1{
	position: relative;
	font-size: 40px;
	color: #ffffff;
	margin-bottom: 30px;
	display: inline-block;

}
#about .main-title h1::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	top: 125%;
	left: 0;
	background-color: #ffffff;
  margin-top: -20px;
}
#about .main-title h1::after{
	content: '';
	position: absolute;
	width: 50%;
	height: 3px;
	background-color: #d03645;
	top: calc(125% - 1px);
	left: 50%;
	transform: translateX(-50%);
  margin-top: -20px;
}

#about>div {
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about-left {
  height: 500px;
  width: 40%;
  /* border:2px solid white; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.about-image {
  height: 80%;
  width: 80%;
  /* max-height: 300px; */
  /* max-width: 300px; */
  border-radius: 50%;
  animation: left-right 3s ease-in-out infinite;

}

.about-image img {
  height: 100%;
  width: 100%;
  /* clip-path: circle(); */
  border-radius: 50%;
}

@keyframes left-right {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

.about-right {
  height: 100%;
  width: 50%;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  text-align: justify;
}

.about-right>p:nth-child(1) {
  font-size: 25px;
  font-weight: 500;
}

.about-right>p>span {
  color: orangered;
}

.table-left {
  font-weight: 500;
  font-size: large;
}

/*============education===========*/
.timeline-section{
  background: linear-gradient(to top ,rgb(225, 22, 22),black );
	min-height: 100vh;
	padding: 100px 15px;
  border-radius: 10px;
}
.timeline-section .main-title {
  max-width: 700px;
  margin: 0px auto;
  text-align: center;
  font-family: helvetica;
}
.timeline-section .main-title h1{
	position: relative;
	font-size: 40px;
	color: #ffffff;
	margin-bottom: 30px;
	display: inline-block;

}
.timeline-section .main-title h1::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	top: 125%;
	left: 0;
	background-color: #ffffff;
  margin-top: -20px;
}
.timeline-section .main-title h1::after{
	content: '';
	position: absolute;
	width: 50%;
	height: 3px;
	background-color: #d03645;
	top: calc(125% - 1px);
	left: 50%;
	transform: translateX(-50%);
  margin-top: -20px;
}

.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #fff;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: left;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color:#fff;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: #fff;
	margin:6px 0 15px;
}
.timeline-content{
    background-color: #000000;
	padding: 30px;
	border-radius: 5px;
  border-bottom: 5px solid #fff;
  border-top: 5px solid #fff;
}
.timeline-content h3{
    font-size: 20px;
	color:orangered;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}


.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}

/*=========== service ==============*/
#service{
  position: relative;
	width: 100%;
	min-height: 60vh;
  border-radius: 10px;
  background: linear-gradient(to top ,rgb(225, 22, 22),black);
   
}
	/* padding: 10px 10%; */
  /* border: 2px solid red; */

#service .main-title {
  max-width: 700px;
  margin: 0px auto;
  text-align: center;
  font-family: helvetica;
  /* left:40% */
}
#service .main-title h1{
	position: relative;
	font-size: 40px;
	color: #ffffff;
	margin-bottom: 30px;
	display: inline-block;
  
}
#service .main-title h1::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	top: 125%;
	left: 0;
	background-color: #ffffff;
}
#service .main-title h1::after{
	content: '';
	position: absolute;
	width: 50%;
	height: 3px;
	background-color: #d03645;
	top: calc(125% - 1px);
	left: 50%;
	transform: translateX(-50%);
}

.service {
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px
}

.serv {
  height: 230px;
  width: 100%;
  padding-top: 40px;
  text-align: center;
  background-color: #1b1b1b;
  color: #fff;
  border-left: 4px solid orangered;
  border-radius: 10px;

}

.serv:hover {

  color: #FFF;
  /* box-shadow: 0 4px 8px 0 orangered, 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  background: linear-gradient(to bottom ,rgb(231, 78, 78) ,black);
}

.serv .fa-solid,
.fa-regular {
  font-size: 50px;
  color: orangered;
}

.icon .fa-brands {
  color: white;
}

/*========= skills session ============*/
#skills {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 30px 10%;
  background: linear-gradient(to bottom ,rgb(225, 22, 22),black,black);
}

#skills .main-title {
  max-width: 700px;
  margin: 0px auto;
  text-align: center;
  font-family: helvetica;

}

#skills .main-title h1 {
  position: relative;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 30px;
  display: inline-block;
}

#skills .main-title h1::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 125%;
  left: 0;
  background-color: #ffffff;
}

#skills .main-title h1::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: orangered;
  top: calc(125% - 1px);
  left: 50%;
  transform: translateX(-50%);
}

.main-title p {
  color: #ffffff;
}

#skills .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  /* border:2px solid white */
}

.row .col {
  flex-basis: 46%;
  /* border: 2px solid white; */
}

.row .sub-title h2 {
  position: relative;
  color: #fffefe;
  font-size: 22px;
  font-family: helvetica;
  display: inline-block;
  margin-bottom: 30px;
}

.row .sub-title h2::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  top: 125%;
  left: 0;
  background-color: #808080;
}

.row .sub-title h2::after {
  content: '';
  position: absolute;
  width: 25%;
  height: 3px;
  top: calc(125% - 1px);
  left: 0;
  background-color: orangered;
}

.skills-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:25px;

}
.skills-container .skill{
  height:140px;
  text-align: center;
  /* border:2px solid white */
}
.skill > img{
  height:85%;
  width:100%;
  /* border:5px solid red */
}
.skill > p{
  color: #fff;
}
.row1{
  margin-top: 40px;
  width:100%;
  height:auto;

}
.row1 .sub-title h2 {
  position: relative;
  color: #fffefe;
  font-size: 22px;
  font-family: helvetica;
  display: inline-block;
  margin-bottom: 30px;
}

.row1 .sub-title h2::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  top: 125%;
  left: 0;
  background-color: #808080;
}

.row1 .sub-title h2::after {
  content: '';
  position: absolute;
  width: 25%;
  height: 3px;
  top: calc(125% - 1px);
  left: 0;
  background-color: orangered;
}
.row1 .skill-container-1{
   height: auto;
   width:100%;
  
}
.skill-container-1{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap:25px;

}
.skill-container-1 .skill{
  height:140px;
  text-align: center;
  /* border:2px solid white */
}

/* .subject {
  font-size: 18px;
  font-weight: thin;
  color: #fffcfc;
  padding-bottom: 15px;
  text-transform: uppercase;
} */



/* .progress-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #808080;
  border-radius: 15px;
  margin-bottom: 20px;
}

.progress-bar::after {
  position: absolute;
  content: attr(value);
  top: -35px;
  right: 0;
  color: #fdfcfc;
  font-size: 18px;
}

.progress-line {
  position: absolute;
  width: 0%;
  height: 7px;
  background-color: orangered;
  border-radius: 15px;
  top: -1px;
  animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}

@keyframes animate {
  100% {
    width: 100%;
  }
}

.progress-line::after {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  background-color: orangered;
} */




/*============ project session =============*/
#projects {
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px 3%;
  background: #1b1b1b;
}

#projects .main-title {
  max-width: 700px;
  margin: 0px auto;
  text-align: center;
  font-family: helvetica;
}

#projects .main-title h1 {
  position: relative;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 30px;
  display: inline-block;
}

#projects .main-title h1::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 125%;
  left: 0;
  background-color: #ffffff;
}

#projects .main-title h1::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: orangered;
  top: calc(125% - 1px);
  left: 50%;
  transform: translateX(-50%);
}

.main-title p {
  color: #ffffff;
}

#projects .inner {
  width: 99%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}

#projects .project-card {
  height: 550px;
  width: 100%;
  color: #FFF;
  text-align: justify;
  border-radius: 10px;
  padding: 10px 10px;
  border-left: 4px solid orangered;
  background: black;

}

.project-card:hover {
  box-shadow: 0 4px 8px 0 orangered, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-card img {
  height: 50%;
  width: 100%;
  border: 2px solid green;
  border-radius: 10px;
}

.project-title {
  padding-top: 10px;
}

.project-title .project-description {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.project-description,
.project-tech-stack {
  font-size: 12px;
}

.project-link {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.project-link a {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  background: orangered;
  border-radius: 10px;
  padding: 10px 20px
}


/*============ contact ===============*/
#contact {
  position: relative;
  width: 100%;
  height: 800px;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to left ,rgb(225, 22, 22),black,black);
}

#contact .main-title {
  max-width: 700px;
  margin: 0px auto;
  text-align: center;
  font-family: helvetica;
}

#contact .main-title h1 {
  position: relative;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 30px;
  display: inline-block;
}

#contact .main-title h1::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 125%;
  left: 0;
  background-color: #ffffff;
}

#contact .main-title h1::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: orangered;
  top: calc(125% - 1px);
  left: 50%;
  transform: translateX(-50%);
}

#contact .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.content .left-side .details {
  margin: 14px;
  text-align: center;
}

.content .left-side .details i {
  font-size: 30px;
  color: orangered;
  margin-bottom: 10px;
}

.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #fdfdff;
  text-decoration: none;
}

#contact .content .right-side {
  width: 75%;
  margin-left: 75px;
}

.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: orangered;
}

.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box {
  min-height: 110px;
}

.right-side .input-box .message-box {
  padding-top: 6px;
}

.right-side .button {
  display: inline-block;
  margin-top: 12px;
}

.right-side p {
  color: white
}

.right-side .button button[type="submit"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: orangered;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button button[type="submit"]:hover {
  background: rgb(202, 64, 13);
}

.topic {
  color: #afafb6;
}

@media (max-width: 950px) {

  #contact {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }

  #contact .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}






/*======================
       Responsive
========================*/



/* ====================================
       mobile screen
======================================*/
@media only screen and (min-width: 300px) and (max-width: 540px) {

   html,
  body {
    overflow-x: hidden;
  }
  #nav-menu{
    position: fixed;
    top:0
  }
 
  #nav-menu .menu-btn i {
    display: block;
  }

  #click:checked~.menu-btn i:before {
    content: "\f00d";
  }

  #nav-menu .logo {
    font-size: 30px;
    margin-left: -30px;
    letter-spacing: 2px;
  }

  #nav-menu ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: rgb(10, 10, 10);
    height: 110vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 1;
  }

  #click:checked~ul {
    left: 0;
  }

  #nav-menu ul li {
    width: 100%;
    margin: 40px 0;
  }

  #nav-menu ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked~ul li a {
    margin-left: 0px;
  }

  #nav-menu ul li a.active,
  #nav-menu ul li a:hover {
    background: none;
    color: orangered;
  }

  /* home session */
  #home {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    
  }

  #home .left {
    width: 100%;

  }

  #home .right {
    width: 100%
  }

  .right>h3 {
    font-size: 2rem;
  }

  /* about session */
  #about {
    height: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    
  }

  #about .main-title h1{
      width:50%;
      left:23%
  }

  #about>div {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .about-left,
  .about-right {
    width: 100%
  }
  .about-image{
    max-height: 300px;
    max-width: 300px;
  }

  /* service session */
  #service {
    height: auto;
    width: 100%;
    margin-top: 50px;
  }
 

  .service {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }

  .serv {
    height: auto;
    margin: auto;
    width: 95%;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 50px;
  }

  /* skills session */
  #skills .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .row .col {
    margin-top: 30px;
  }
  .skills-container{
    display: grid;
   grid-template-columns: repeat(2,1fr);
   gap:25px;
  }

  .skill-container-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:25px;
  
  }

  /* project session */
  #projects {
    position: relative;
    width: 100%;
    height: auto;
  }

  #projects .inner {
    width: 90%;
    height: auto;
    margin: auto;
    /* border:2px solid blue; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-top: 10px;
  }

  #projects .project-card {
    height: 550px;
    width: 100%;
  }

  /* contact session */
  #contact {
    margin: auto;
    height: 100%;
    padding: 10px 0px 0px 0px;

  }

  #contact .content {
    width: 99%;
    flex-direction: column-reverse;
  }

  #contact .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  #contact .content .left-side::before {
    display: none;
  }

  #contact .content .right-side {
    width: 100%;
    margin-left: 0;
  }

}

/* ====================================
       Tablet screen
======================================*/
@media only screen and (min-width: 541px) and (max-width: 948px) {

  html,
  body {
    overflow-x: hidden;
  }
  #nav-menu{
    position: fixed;
  }

  #nav-menu .menu-btn i {
    display: block;
  }

  #click:checked~.menu-btn i:before {
    content: "\f00d";
  }

  #nav-menu .logo {
    font-size: 30px;
    margin-left: -30px;
    letter-spacing: 2px;
  }

  #nav-menu ul {
    margin-top: 20px;
    position: fixed;
    top: 80px;
    left: -100%;
    background: rgb(10, 10, 10);
    height: 110vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 1;
  }

  #click:checked~ul {
    left: 0;
  }

  #nav-menu ul li {
    width: 100%;
    margin: 40px 0;
  }

  #nav-menu ul li a {
 
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked~ul li a {
    margin-left: 0px;
  }

  #nav-menu ul li a.active,
  #nav-menu ul li a:hover {
    background: none;
    color: orangered;
  }

  /* home session */
  #home {
    display: flex;
    flex-direction: column;
    margin-top:120px

  }

  #home .left {
    width: 70%;
    height: 40%;
    display: flex;
    margin: auto;
  }

  #home .right {
    width: 90%;
    margin-left: 5%;
  }


  /* about session */
  .about-image{
    max-height: 300px;
    max-width: 300px;
  }
  /* #about {
    height: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  #about>div {
    width: 95%;
    display: flex;
    flex-direction: column;
  }

  .about-left{
    width:40%;
    border: 2px solid cyan;
  }
  .about-right {
    width: 60%;

  } */

  /* service session */
  #service {
    height: auto;
    width: 100%;
    margin-top: 50px;
  }
  #service .main-title h1{
    align-items: center;
  }

  .service {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }

  .serv {
    height: auto;
    margin: auto;
    width: 95%;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 50px;
  }

  /* skills session */
  #skills {
    min-height: 50vh;
  }
  .row .col {
    margin-top: 30px;
  }
  .skills-container{
    display: grid;
   grid-template-columns: repeat(2,1fr);
   gap:25px;
  }
  .skill-container-1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:25px;
  
  }

  /* project session */
  #projects {
    position: relative;
    width: 100%;
    height: auto;

  }

  #projects .inner {
    width: 99%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 10px;
  }

  #projects .project-card {
    height: 550px;
    width: 100%;
  }

  /* contact session */
  #contact {
    margin: auto;
    height: 100%;
    padding: 10px 0px 0px 0px;

  }

  #contact .content {
    width: 99%;
    flex-direction: column-reverse;
  }

  #contact .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  #contact .content .left-side::before {
    display: none;
  }

  #contact .content .right-side {
    width: 100%;
    margin-left: 0;
  }

}